#buttonDecorator{
    position:absolute;
    right:-10%;
    top:77.5%;
    bottom:-100%;
    left:2.5%;
    border-top-left-radius: 2em;
    border-top: var(--bordercolor) solid 5px;
    border-left: var(--bordercolor) solid 5px;
    border-top-width:5px;
    padding:0;
    margin:0;
    transition:transform 0.5s ease-in-out, border-color 0.5s, clip-path 0.2s, opacity 0.5s;
    transition-delay:0s,0s,0s,0.25s;
    
    z-index:4;
    
}
.idscreen #buttonDecorator{
    clip-path:polygon(0 100%, 0 100%, 100% 100%, 0% 100%);
}
.screen2 #buttonDecorator{
    
    opacity:0;
}


#buttonDecoratorTrail{
    position:absolute;
    z-index:1;
    right:-10%;
    height:22.5%;
    bottom:0%;
    left:2.5%;
    border-top-left-radius: 2em;
    border-top: #1e2629 solid 5px;
    border-left: #1e2629 solid 5px;
    padding:0;
    margin:0;
    opacity:0.5;
    transition:left 0.35s, clip-path 0.2s;
    pointer-events:none;

}

.screen2 #buttonDecoratorTrail{
    opacity:0;
    
    /* left:80%; */
}
