#machineList{
  bottom:10%;
  right:30%;
  position:absolute;
  z-index:6;
  /* padding-left: 0.5em; */
  font-family: "Open Sans";
  font-size: "2em";
  font-weight:200;
  transition-delay:0.5s;
  transition: opacity 0.25s;
  left:0.5em;
  opacity:0;
  pointer-events: none;
  line-height:1.5em;
}

.screen2 #machineList{
  opacity:1;
  pointer-events: all;
}


.mListItem{
  background-color:#00000060;
  justify-content: left;
  margin-top:0.3em;
  display: inline-block;
  width:fit-content;
  padding-top:0.1em;
  padding-bottom:0.1em;
  padding-left:0.4em;
  font-weight:400;
  padding-right:0.4em;  
  border-radius: 0.25em;
  transition:background-color 0.2s;
  border: solid 2px #f4e136;
}

.screen2 .mListItem{
  pointer-events: all;
}